{
  "reporter": [
    "text"
  ],
  "statements": "89",
  "branches": "74",
  "functions": "82",
  "lines": "90",
  "exclude": [
    "lib/metrics-aws.js",
    "lib/metrics-gcp.js",
    "lib/metricsHelper.js",
    "prometheus.js",
    "test/*"
  ]
}
